.parallax__train-img {
    position: absolute;
    width: 100%;
    /* top: 32.5rem; */
    top: 522px;
    z-index: 100;
}
.parallax__grass-img {
    position: absolute;
    width: 100%;
    top: 100vh;
    z-index: 200;
}
.parallax__blackout-img {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 300;
}