.header-content
    .header-content__info
        h2.header-content__subtitle Личный сайт веб разработчика
        h1.header-content__title Павлухин Тимофей
button.header-content__scroll 
    span.scroll__text Скролл
    +icon('scroll', 'scroll__svg')
