section.section.heading
    .parallax
        .parallax__layer
            +image('content/heading/header.png', 'parallax__train-img')
        .parallax__layer
            +image('content/heading/grass.png','parallax__grass-img')
        .parallax__layer
            +image('content/heading/blackout.png','parallax__blackout-img')
    .container.heading__section
        include block-header
        include block-header-content