section.section.about
    .container.about__section
        .about-content
            .about-content__img-photo
                +image('content/about/avatar.png', 'about-content__img-avatar')
            .about-content__descr
                span.descr__hi Привет, меня зовут
                h2.descr__name Павлухин Тимофей
                p.descr__info Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            //- table.about-content__general
            //-     tbody.about-content__general-info
            //-         tr.about-content__general-row
            //-             td.about-content__general-cell-l Проживаю:
            //-             td.about-content__general-cell-r Омск
            //-         tr.about-content__general-row
            //-             td.about-content__general-cell-l Возраст:
            //-             td.about-content__general-cell-r 25 лет
            //-         tr.about-content__general-row
            //-             td.about-content__general-cell-l Родился:
            //-             td.about-content__general-cell-r 16 мая 1994
            .about-content__general
                span.about-content__general-cell-l Проживаю:
                span.about-content__general-cell-r Омск
                span.about-content__general-cell-l Возраст:
                span.about-content__general-cell-r 25 лет
                span.about-content__general-cell-l Родился:
                span.about-content__general-cell-r 16 мая 1994
            .about-content__tip
                p.about-content__tip-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
