footer.section.footer
    .container.footer__section
        .footer-content
            .footer-copyrights
                .footer-copyrights-year
                    p.footer-copyrights-copy &copy; 2019
                .footer-copyrights-info 
                    .footer-copyrights__name
                        span.footer-copyrights__name-s Павлухин Тимофей
                    .footer-copyrights__text
                        span.footer-copyrights__text-s Личный сайт веб-разработчика
            .footer-grid
                .footer__nav
                    include nav.pug
                .footer__grid-desc
                    .footer__grid-column
                        p.footer__grid-column-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                        .footer__socials
                            include socials.pug
                    .footer__grid-quote-wrap
                        p.footer__grid-quote-wrap-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                        p.footer__grid-quote-wrap-italic Martin Golding

