mixin skills-list(skillName, percent)
  ul.skills-list
    - for(var i = 0; i < skillName.length; i++)
        li.skills-list__item=`${skillName[i]}`
          svg.percent(viewbox='0 0 100 100', preserveAspectRatio='none')
            circle(cx='50', cy='50', r='40', class='skills-circle skills-circle__under')
            circle(cx='50', cy='50', r='40', class='skills-circle skills-circle__upper', style="animation-delay: "+`${percent[i]}` + "s")