ul.socials
    - var items = [{name: 'insta', href: '#'}, {name: 'vk', href: '#'}, {name:'github', href: '#'}];
    each item in items 
        li.social__item
            a(href=item.href).social__link
                +icon(`${item.name}`, 'social__svg')